/*<-- ============================================ 
    File:     purple.css
    Brief:  Adds specified color scheme / style to the website
  =========================================== --> */
  
body{
	background: #fafafa url(../images/layout/purple/bg.jpg) repeat-x;
}

a{
	color: #8c2bd8;
}

a:hover{
	color: #373737;
}

.button,
a.button{
	background: #efefef url(../images/layout/purple/button.jpg) no-repeat right top;
}

.button:hover,
a.button:hover{
	color:#8c2bd8;
	background: #efefef url(../images/layout/purple/button.jpg) no-repeat right -26px;
}

	/* ============================================ Header- Navigation*/	
	#navigation li a:hover{
		color:#8c2bd8;
	}
	#navigation li#magic-line{
		background:#8c2bd8;
	}
/* ============================================ Container Styled-Bar / Pagetrail*/			
	#bar{
		background: url(../images/layout/purple/container-bar.gif) no-repeat;
	}
	#bar-bot{
		background: url(../images/layout/purple/container-bar-bot.gif) no-repeat;
	}
/* ============================================ Feature*/			
	#f-button li a{
		background: url(../images/layout/purple/feature-button.gif) no-repeat ;
	}
	#f-button li a:hover, #f-button li a.activeSlide{
		background: url(../images/layout/purple/feature-button.gif) no-repeat -15px 0;
	}
	
/* ============================================ Pages*/	
	#page .block{
			background:#8c2bd8;
		}	
	/* ============================================ Pages - News Articles - Single Post Comments*/
	#comments .comment-reply a:hover{
		color:#2aa6cc;
	}
	
		/* ============================================ Pages - PageNav*/	
		#page .pagenav ul li a:hover{
			color:#8c2bd8;
		}

	/* ========== Sidebar Widget Tags*/
		#sidebar .tag1:hover,#sidebar .tag2:hover, #sidebar .tag3:hover, #sidebar .tag4:hover, #sidebar .tag5 :hover {
			color:#8c2bd8;
		}